# --- Dependencies ---
**/node_modules/
.bun/
**/bun.lockb

# --- Next.js Build & Cache (Ini Tersangkanya!) ---
**/.next/
**/out/

# --- Environment Variables ---
**.env
**.env.local
**.env.production

# --- Operating System Logs ---
*.log
.DS_Store
Thumbs.db

# --- Build Outputs ---
**/dist/
**/build/